//
//  Production.xcconfig
//  mvvm-project
//
//  Created by Abdallah Eid on 13/12/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-mvvm-project/Pods-mvvm-project.release (production).xcconfig"

// Server URL
BASE_URL = https:/$()/api.unsplash.com/

// Keys
API_KEY = aflCAunziNhP5eWls4IYTmTDUAPYpk8hmYyTGtdv0fk

// App Settings
APP_NAME = Simple Gallery (Production)
APP_BUNDLE_ID = abdallah.simple-gallery
